.error,
input {
  height: 50px;
  width: 300px;
}

input:focus {
  outline: red;
  border: 2px solid red;
  font-size: 20px;
  color: red;
}

.error {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: monospace;
  font-weight: bolder;
  background-color: cornflowerblue;
  border: 1px solid black;
  height: 50vh;font-size: 30px;
  width: 50vw;
}
